# Limpieza de Datos
Para trabajar con los CSV decidi limpiar un poco los CSV's, limpiando columnas que no son de interes.

In [65]:
import pandas as pd
modern_feb = pd.read_csv('data/modern-feb.csv')
modern_mar = pd.read_csv('data/modern-mar.csv')
vintage_feb = pd.read_csv('data/vintage-feb.csv')
vintage_mar = pd.read_csv('data/vintage-mar.csv')

dfs = [modern_feb, modern_mar, vintage_feb, vintage_mar]

## Necesitamos lo siguiente
- Precios Normal, Reverse Holofoil, Holofoil + Low, High, Average c/u

- Tipo de Pokemon + Tipo de Carta

- Fecha de Actualizacion

Drop de columnas no relevantes

In [66]:
for df in dfs:
    df.drop(columns=['Pokedex Number', 'Subtypes', 'HP', 'Attacks', 'Weaknesses', 'Retreat Cost', 'Set Name', 'Release Date', 'Artist', 'Rarity', 'Card Image (Small)', 'Card Image HiRes', 'TCG Player URL'], inplace = True)

Rename de columnas para tener mas claridad

In [67]:
for df in dfs:
    df.rename( columns = {
        'ID' : 'id',
        'Name' : 'name',
        'Supertype' : 'supertype',
        'Types' : 'types',
        'TCG Price Date' : 'price_date',
        'TCG Market Price USD (Normal)' : 'normal_market',
        'TCG Low Price USD (Normal)' : 'normal_low',
        'TCG High Price USD (Normal)' : 'normal_high',
        'TCG Market Price USD (Reverse Holofoil)' : 'reverse_market',
        'TCG Low Price USD (Reverse Holofoil)' : 'reverse_low',
        'TCG High Price USD (Reverse Holofoil)' : 'reverse_high',
        'TCG Market Price USD (Holofoil)' : 'holo_market',
        'TCG Low Price USD (Holofoil)' : 'holo_low',
        'TCG High Price USD (Holofoil)' : 'holo_high',
    }, inplace = True)

In [68]:
modern_feb.head()

,id,name,supertype,types,price_date,normal_market,normal_low,normal_high,reverse_market,reverse_low,reverse_high,holo_market,holo_low,holo_high
0,swsh1-1,Celebi V,Pokémon,Grass,2025/02/22,NaN,NaN,NaN,NaN,NaN,NaN,0.83,0.49,7.99
1,swsh1-2,Roselia,Pokémon,Grass,2025/02/22,0.07,0.01,1.31,0.20,0.05,2.00,NaN,NaN,NaN
2,swsh1-3,Roselia,Pokémon,Grass,2025/02/22,0.05,0.01,1.31,0.20,0.05,1.14,NaN,NaN,NaN
3,swsh1-4,Roserade,Pokémon,Grass,2025/02/22,0.18,0.03,2.00,0.49,0.24,4.99,NaN,NaN,NaN
4,swsh1-5,Cottonee,Pokémon,Grass,2025/02/22,0.06,0.01,5.01,0.20,0.06,2.00,NaN,NaN,NaN

Agregar columna de mes para apegarse mas al diagrama de la DB y exportar a un solo CSV para cargar a Postgres

In [69]:
modern_feb['month'] = 'feb'
vintage_feb['month'] = 'feb'
vintage_mar['month'] = 'mar'
modern_mar['month'] = 'mar'

clean_data = pd.concat([modern_feb, modern_mar, vintage_feb, vintage_mar])
clean_data.to_csv('data/clean_data.csv', index=False)